<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bar</title>
    <script src="index.js"></script>
</head>
<body>
    <h2>Search Bar</h2>
    <form action="/search" method="post">

        <input type="text" placeholder="Enter Service" name="Service">
        
        <input type="text" placeholder="Enter Pincode" name="Pincode">

        <button type="submit" class="items">⌕</button>

    </form>

</body>
</html>